@import "./global/reset-styles";
@import "./global/global-styles";
@import "./components/footer";
@import "./components/resume";
@import "./components/social-media";
@import "./components/insteresting-links";

.main {
	padding-inline: 1rem;
	margin-block-start: 1rem;
}

.main__card-container {
	max-width: 44.4rem;
	border-radius: 1.6rem;
	margin-inline: auto;
	background-color: $white;
}


