@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap";

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color: #3c484e;
}

.main {
	display: grid;
	grid-template-columns: minmax(auto, 768px);
	justify-content: center;
	padding: 10px;
}

.items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
	grid-row-gap: 1.5em;
}

.card {
	display: block;
	border-radius: 5px;
	margin: 0 0 20px;
	text-decoration: none;
	box-shadow: 8px 14px 38px rgb(39 44 49 / 6%),
		1px 3px 8px rgb(39 44 49 / 3%);
	animation-name: fade;
	animation-duration: 4s;
}

.card img {
	width: 100%;
	height: auto;
	border-radius: 5px 5px 0 0;
}

.card h2 {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: 300;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
