meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon" href="../assets/img/logo/favicon.ico" type="image/x-icon")
meta(name="robots" content="index,follow")
meta(name="description" content="Frontend Developer | #JavaScript | #TypeScript")
meta(property="og:url" content="https://galeedgutierrez.com")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Galeed Gutierrez")
meta(property="og:description" content="Frontend Developer | #JavaScript | #TypeScript")
meta(property="og:title" content="Galeed Gutierrez")
meta(property="og:image" content="https://avatars.githubusercontent.com/u/60163346?v=4")
meta(property="og:locale" content="es_ES")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Galeed Gutierrez")
meta(name="twitter:description" content="Frontend Developer | #JavaScript | #TypeScript")
meta(name="twitter:image" content="https://avatars.githubusercontent.com/u/60163346?v=4")
meta(name="twitter:site" content="@galeedgutierrez")
meta(name="twitter:creator" content="@galeedgutierrez")

//- include ./_typography.pug
